.p1{
  width: 150px;
  height: 85px;
}

.cButton{
  margin-right: 10px;
  margin-left: 10px;
}

.cTitleLangue{
  margin-left: 15px;
}

.cTitleTheme{
  margin-left: 15px;
}

.cDernier{
  margin-top: 10px;
}
