<ion-tabs color="monvert">

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="document">
            <ion-icon name="document-outline"></ion-icon>
            <ion-label>Documents</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="historique">
            <ion-icon name="timer-outline"></ion-icon>
            <ion-label>Historiques</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="compte">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-label>Comptes</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
